.header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 50px 25px 10px 25px;
  background-color: #e5e0ec;
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding-bottom: 66px;
}

.footer {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  position: fixed;
  width: 100%;
  bottom: 0; left: 0;
}
