.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.container > p {
    margin-bottom: 10px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 72px;
    background-color: white;
    border-radius: 50%;
}

.icon {
    font-size: 50px;
}